// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn-container {
    display: flex;
}

.btn {
    border: none;
    padding: 0.6em 2.5em;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
}

.btn--primary {
    width: 50%;
    background-color: $main;
    border: 1px solid darken($main, 15%);
    transition: all ease-in-out 250ms;

    &:hover {
        background-color: darken($main, 5%);
    }
}

