// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  font-size: $font-size-base;
  font-family: $font-stack;

}


*,
*::before,
*::after {
  box-sizing: inherit;
}

//Body basics

body {
  margin: 0;
  padding: 0;
  color: $body-color;
  line-height: 1.6;
  background-color: $body-bg;
}




/**
 * Basic styles for links
 */
a {
  color: $link-color;
  text-decoration: $link-decoration;
}

//links contained in all paragraphs
p a{
  color: $main;
  &:hover{
    color: darken($main, 10%);
  }
}


// Default styles for Unordened lists


li{
  padding: 0;
  margin: 0;

}


//Default images size
img {
  max-width: 100%;
  display: block;
}


// Default SVG style
svg{
  fill: $main;

  &:hover{
    fill: darken($main, 5%);
  }
}

