.about-me {
    @extend .grid;

    &__picture {
        border-right: none;
        width: $col-12;
        text-align: center;

        @media (min-width: 780px) {
            width: $col-6;
            border-right: 1px solid darken($main, 1%);
        }

        img {
            border-radius: 50%;
            border: 5px solid $main;
            max-width: 40%;
            margin: 2.5em auto 0 auto;
        }

        a {
            margin: 0.2em 1em;
        }
    }

    &__details {
        width: $col-12;
        padding: 0.9em;

        @media (min-width: 780px) {
            width: $col-6;
        }
    }
}