// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.contact-me {
    text-align: center;
    background-color: $main;
    color: $light-gray;

    @include respond-to("small") {
        display: flex;
        justify-content: space-around;
        padding: 0.7em;
    }


    &__title {
        width: $col-12;
    }

    &__icons {
        width: $col-12;

        a {
            margin: 0.2em 1em;
        }

        a path {
            fill: $light-gray;

            &:hover {
                fill: $dark-gray;
            }
        }
    }
}