// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
	@extend .grid;
    color: $light-gray;
    margin: 0;
    padding: 0;
    background-color: $main;
    justify-content: space-around;

   
}
