/// Projects Section

.project{
	
	h1{
		text-align: center;
		margin: 2em;
	}


	&__item{
	width: 90vw;

		@media (min-width:  580px) {
				width: 45vw;
				//This number is so that the buttons or text wont be larger than the image.
				max-width: 500px; 
			}

		@media (min-width: 900px){
			width: 30vw;
		}

		img{
			display: block;
			max-width: 100%;
			margin: 0 auto;
		}


	}

}

